numpy
pandas
langchain
python-dotenv
bs4
faiss-cpu
pypdf
arxiv
pymupdf
wikipedia
lxml
langchain-openai
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-ollama
langgraph
langgraph-cli[inmem]
agno
openai
python-dotenv
duckduckgo-search
pypdf
lancedb 
tantivy
streamlit 
pandas
yfinance 
sqlalchemy 
fastapi[standard]